*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font: sans-serif;
}

.bg-color{
    background-color: rgb(0, 0, 0);
}

.nav{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.container-nav{
    width: 30%;
    display: flex;
    justify-content: flex-end;
    padding-bottom: 2rem;
}

.mini-container{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;  
}

.container-mini-arrow{
    width: 18px;
    height: 15px;
    background-color: #4A4A4A;
    margin-right: .5rem;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}

.mini-arrow{
    font-size: 15px;
    
}


.container-mini-icon{
    width: 30px;
    display: flex;
    align-items: center;
}

.mini-icon{
    font-size: 15px;
}

.h6-margin{
    font-size: 8px;
    width: px;
}

main{
    height: 100vh;
    width: 100%;
}

.container-images{
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    overflow: auto;
}

.container-img{
    height: 100px;
    width: calc((100% / 7) - .3rem);
    position: relative;
    margin-bottom: 1rem;
}

img{
    object-position: center;
    height: 100%;
    width: 100%;
}

.container-user-mute{
    background-color: rgb(0, 0, 0, 0.4);
    color: white;
    height: 17px;
    width: 25%px;
    font-size: 12px;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
}

footer{
    background-color: rgb(34, 34, 34);
}

.container-footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.container-footer-left{
    width: 25%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: lighter;
    padding-top: 1rem;
    font-size: 13px;
    font-family: sans-serif;
}



.icon{
    height: 20px;
    padding: 1rem;
    text-align: center;
}

.h5-margin{
    margin: .5rem 0 1rem 0;
}

.margin-left{
    margin-left: 1rem;
}

.container-footer-center{
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.container-footer-right{
    width: 6%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4a4a4a;
}

.end-meeting{
    font-size: 10px;
    padding: 2.3rem 0;
}

.red{
    color: red;
}